<% provide(:title, 'About Us') %>
<h1>About My Site</h1>
<p> by Tim McAnulty</p>
<p>
  This is the About Us page for Tim's
   demonstration Ruby on Rails application, which describes some of this site's functions.
</p>
